.carousel-img-box{
    height:600px;
    width:100%;
}
.carousel-img{
    width: 100%;
    height: auto;
    
}
.back-home{
    margin-bottom: 20px;
    background-color: #00FFBB;
    padding: 10px 25px;
    border: none;
    border-radius:8px;
}
.details-list{
    list-style-type: none;
    font-size:18px;
    line-height:30px;
}