.banner{
    height: 100vh;
}
.banner-details{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.banner-details p{
    color: white;
    font-size:25px;
}
.banner-details h3{
    padding-bottom: 10px;
    color: white;
    font-size:45px;
    height: 90px;
}
.banner-details h4{
    padding-top: 15px;
    color: #00FFBB;
    font-size:35px;
}
.banner-details small{
    color: white;
    font-size:15px;
    margin-top: 10px;
}
.banner-details button{
    margin-top: 15px;
    background-color: #00FFBB;
    padding: 10px 25px;
    border: none;
    border-radius:8px;
    
}
