.about-header{
    font-size:35px;
    font-weight: 700;
    padding-top: 80px;
    margin-bottom: 10px;
    color: #fff;
}
.about-img-box{
    padding: 15%;
}
.about-img{
    
    border-top: 17px solid #0fb;
    border-left: 17px solid #0fb;
    padding-top: 12px;
    padding-left: 15px;
}
.about-hr{
    width: 50px;
    border-top: 4px solid white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-bottom: 50px;

}
.line {
    display: inline-block;
    width: 5rem;
    height: .3rem;
    background: #0fb;
    border-radius: 2px;
}
.who {
    font-family: SF Pro Display,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #0fb;
    margin-right: 7px;
}
.hire-me-button{
    margin-top: 15px;
    background-color: #00FFBB;
    padding: 10px 25px;
    border: none;
    border-radius:8px;
    
}

.service-card-1{
    
    border-radius:10px;
    overflow: hidden;
    height:430px;
    box-shadow: 5px 5px 15px  white;
    background-color: #2b2b2b;
}
.service-card-2{
    box-shadow: 5px 5px 15px  white;
    background-color: #2b2b2b;
    border-radius:10px;
    overflow: hidden;
    height:430px;
}
.service-card-3{
    box-shadow: 5px 5px 15px  white;
    background-color: #2b2b2b;
    border-radius:10px;
    overflow: hidden;
    height:430px;
}

.service-card-img{
    height:150px;
    
}
.service-card-img img{
    width:auto;
    height:100%;
}
.service-details h3,p{
    color: white;
}
.service-bottom-1{
    background: #6BD4DA;
    height:15px;
    margin-top: auto;
    
}
.service-bottom-2{
    background: #27AAE2;
    height:15px;
    margin-top: auto;
    
}
.service-bottom-3{
    background: #48A049;
    height:15px;
    margin-top: auto;
    
}
.service-card-1:hover{
    background-color: #0fb;
    transition: 0.3s;
    
}
.service-card-2:hover{
    background-color: #0fb;
    transition: 0.3s;
    
}
.service-card-3:hover{
    background-color: #0fb;
    transition: 0.3s;
    
}
.service-card-1:hover .service-details h3{
color: black;
transition: 0.3s;
}
.service-card-2:hover .service-details h3{
color: black;
transition: 0.3s;
}
.service-card-3:hover .service-details h3{
color: black;
transition: 0.3s;
}
.service-card-1:hover .service-details p{
color: black;
transition: 0.3s;  
}
.service-card-2:hover .service-details p{
color: black;
transition: 0.3s;  
}
.service-card-3:hover .service-details p{
color: black;
transition: 0.3s;  
}

